@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-base: #ffffff;
  --black-base: #000000;
  --base: #22489D;
  --secondary: #57D0EA;
  --my-light-black: #1A1D22;
  --my-orange: #FF6B35;
  --my-gray: #F0F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white-base: #ffffff;
    --black-base: #000000;
    --base: #22489D;
    --secondary: #57D0EA;
    --my-light-black: #1A1D22;
    --my-orange: #FF6B35;
    --my-gray: #F0F0F0;
  }
}

body {
  color: var(--white-base);
  background: var(--my-light-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
